/*Header*/
.nav {
  display: flex;
  max-width: 100%;
  margin: 0%;
  margin-left: 10%;
  margin-right: 10%;
  background: linear-gradient(180deg, #68523f 0%, #876D57 100%);
  height: 130px;
  flex-shrink: 0;
  gap: 10px;
}

.left2{
  margin-top: auto;
  margin-bottom: 1.9%;
}

.right2{
  margin-top: auto;
  margin-bottom: 1.8%;

}
.rightPush{
  margin-left: auto;
}

header{
  background: linear-gradient(180deg, #68523f 0%, #876D57 100%);
  border-bottom: 1px solid;
  border-color: black;
}

.nav a{
  text-decoration: none;
  color: white;
  margin-right:20px;
  transition: 1s;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Lemon/Milk',"Catamaran";
  letter-spacing: 1.5px;
  font-size: 18px;
}

.nav a:hover{
  text-decoration: none;
  color: white;
  font-family: 'Lemon/Milk',"Catamaran";
  transition: 0.5s;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
  letter-spacing: 1.5px;
  font-size: 18px;
  cursor: pointer;
}

#menuIcon{
  width: 0px;
  height: 0px;
}

.logo {
  margin-left:10%;
  margin-right:0%;
  margin-top: 0%;
  flex-shrink: 0;
  cursor: pointer;
}
/*End Header*/

body{
  background-color:#755E4A !important;
  margin: 0px;
}

/*Footer*/
footer{
  margin-top: auto;
  background: linear-gradient(180deg, #68523f 0%, #876D57 100%);
  border-top: 1px solid;
  border-color: black;
}

.navF {
  display: flex;
  max-width: 100%;
  margin: 0%;
  margin-left: 10%;
  margin-right: 10%;
  background: linear-gradient(180deg, #68523f 0%, #876D57 100%);
  height: 130px;
  flex-shrink: 0;
  gap: 10px;

}
/*End Footer*/











body {
  height: 300px;
}

hr{
  border-width: 2px;
  background-color: white;

}

.container{
  max-width: 100% !important;
  width: 80% !important;
  margin-left: 13% !important;
  margin-right: 10% !important;
}

.row{
  width: 100% !important;
}

#scc{
  margin-top: 5%;

}

#title{
  margin-top: 5%;
  font-family: 'Lemon/Milk',"Catamaran";
  letter-spacing: 1.5px;
  font-size: 30px;
  color: white;
}

.titleText{
  text-align: center;
  padding-right: 5%;
  color: white;
  font-family: 'Century Gothic Paneuropean','Arial';
  font-style: normal;
  font-weight: 400;
}

.col{
  padding: 0px !important;
  margin-bottom: 5%;
}






#timeline{
  margin-left: 13%;
  color: white;
  font-size: 1rem;
  font-family: 'Century Gothic Paneuropean','Arial';
  font-style: normal;
  font-weight: 400;
}

.sectionTitle{
  font-family: 'Lemon/Milk',"Catamaran";
  letter-spacing: 1.5px;
  font-size: 30px;
  margin-bottom: 3% ;
  text-align: center;
  color: white;
}

.split{
  background-color: white;
  width: 80%;
}

.text{
  padding-right: 5%;
  color: white;
  font-family: 'Century Gothic Paneuropean','Arial';
  font-style: normal;
  font-weight: 400;
}

#image1{
  margin-top: 3%;
  height: 350px;
}

#image2{
  width: 550px;
}

#image3{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

